<!DOCTYPE html>
<html ng-app="BudgetManager" ng-cloak>
<head>
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com http://budgetforaksha.azurewebsites.net http://localhost:7459/ http://localhost:10577/ 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

    <link href="lib/angular-material/angular-material.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="scripts/index.js"></script>
    <script src="scripts/home.js"></script>
    <title>Expence Manager</title>
</head>
<body ng-controller="Reminder">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a href="index.html" class="navbar-brand">Aksha</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Add new</a></li>
                    <li><a href="datewise.html">Date wise</a></li>
                    <li><a href="daillyreport.html">Daily report</a></li>
                    <li><a href="monthlyreport.html">Monthly report</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="Description" class="col-xs-4 control-label">Description :</label>
                <div class="col-xs-8">
                    <input type="text" ng-model="Description" class="form-control" tabindex="1" id="Description" placeholder="Description">
                </div>
            </div>
            <div class="form-group">
                <label for="Amount" class="col-xs-4 control-label">Amount :</label>
                <div class="col-xs-8">
                    <input type="number" maxlength="5" ng-model="Amount" tabindex="2" class="form-control" id="Amount" placeholder="Amount">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-4 col-xs-8">
                    <button type="button" id="Save" tabindex="3" class="btn btn-success" ng-click="Save()">Save</button>
                </div>
            </div>
        </form>
        <md-divider></md-divider>
        <div class="row" style="color: red; font-size: 12px;">
            <div class="col-xs-6"> Aj jo kharch : <span ng-bind="TodayTotal">0</span></div>
            <div class="col-xs-6"> Mahine jo : <span ng-bind="ThisMonthTotal">0</span></div>
        </div>
        <md-divider></md-divider>
        <div class="row" style="font-size: 12px; font-weight: bold;">
            <div class="col-xs-8"> Description</div>
            <div class="col-xs-4" style="text-align: center;"> Amount</div>
        </div>
        <md-divider></md-divider>
        <div class="row" style="font-size: 12px;" md-swipe-left="Remove(obj)" md-swipe-right="Remove(obj)" ng-repeat="obj in details" ng-show="details.length">
            <div class="col-xs-8" style="padding: 10px;"> <span ng-bind="obj.Description"></span></div>
            <div class="col-xs-4" style="text-align: center; padding: 10px;"> <span ng-bind="obj.Amount"></span></div>
        </div>
    </div>
</body>
</html>
